# API Framework
fastapi==0.110.0
uvicorn[standard]==0.27.1

# HTTP client
httpx==0.27.0

# Testing
pytest==8.0.2

# Linting
flake8==7.0.0

# Database driver (para Semana 2)
psycopg2-binary==2.9.9

# Pydantic (ya viene con FastAPI, pero explícito)
pydantic==2.6.1